
{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
<section>
    <h5>Hello.<br />I'm Derrick.</h5>
    
    
    <article>
      <h2>This is a little about me...</h2>

      <img src="{% static 'images\personal_portrait2.jpg' %}" alt="Derrick Nagy's Portrait Pic" height="300">
      
       <h3>Education</h3>
        <p>I am currently a student at Kirkwood Community College. I am working towards my Associates in Science in Computer Software Development. For seven years, I taught English as a Second Language. I have a bachelors of art in English and Linguistics. I also have a Masters degree in Education in Curriculum and Instruction.</p>        
        
        <h3>Philosophy of Education</h3>
       <p>Learning requires a holistic, communicative approach where students construct knowledge by means of personal and social interactions.  Learning is built upon prior knowledge that and must be taught in a way that the student can practically use.  New skills and knowledge are gained via crafting meaningful experiences where the students are central.</p>
       
       <h3>Experiences Overseas</h3>
       <p>I lived in Korea for two years. During that time, I taught elementary school English as a second language courses as well as teacher professional development courses. I was teacher of the year in my district in 2009. I also got the opportunity to travel to Thailand, Cambodia, Vietnam, Japan, and the Philippines while there.</p>        
  
    </article>
    </section>        
{% endblock content %}