

{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock %}
{% block content %}
    <div class="jumbotron-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="myDisplay col">
                    <span class="myDisplay-first-line row display-2">DERRICK</span>
                    <span class="myDisplay-second-line row display-1">NAGY</span>
                    <span class="myDisplay-third-line row display-4">IS READY TO CREATE</span>
                </div>
                <div class="col m-3">
                    <img class="img-fluid float-right" src="{% static 'images\StudentClass.PNG' %}" alt="Goofy code about a student class that implements a person class.">
                </div>
            </div>
        </div>
        <div class="container-fluid text-center m-3">
            <div class="row">
                <div class="col-6">
                    <p class="lead">Hi, I am Derrick Nagy. I go to Kirkwood Community College where I study Computer Software Development. This is where I am documenting my growth as a developer.</p>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <a class="grow-event btn btn-dark btn-lg" href="{% url 'about' %}" data-toggle="tooltip" title="About Me"><i class="fas fa-address-card"></i></a>
                        </div>
                        <div class="col">
                            <a class="grow-event btn btn-dark btn-lg" data-toggle="tooltip" title="My Resume" href="https://drive.google.com/file/d/1hV2EO0dxZSySKUPdZFHIny_mFGrjeN52/view?usp=sharing"><i class="far fa-file"></i></a>
                        </div>
                        <div class="col">
                            <a class="grow-event btn btn-dark btn-lg" data-toggle="tooltip" title="My GitHub" href="https://github.com/drnagy86"><i class="fab fa-github"></i></a>
                        </div>
                        <div class="col">
                            <a class="grow-event btn btn-dark btn-lg" data-toggle="tooltip" title="My LinkedIn" href="https://www.linkedin.com/in/derrick-nagy-a1b5a3222/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
{#                <div class="">#}
{#                    <a id="grow-event"  class="btn btn-dark btn-lg" href="{% url 'about' %}" data-toggle="tooltip" title="About Me"><i class="fas fa-address-card"></i></a>#}
{#                    <a class="btn btn-dark btn-lg" data-toggle="tooltip" title="My Resume" href="https://drive.google.com/file/d/1hV2EO0dxZSySKUPdZFHIny_mFGrjeN52/view?usp=sharing"><i class="far fa-file"></i></a>#}
{#                    <a class="btn btn-dark btn-lg" data-toggle="tooltip" title="My GitHub" href="https://github.com/drnagy86"><i class="fab fa-github"></i></a>#}
{#                    <a class="btn btn-dark btn-lg" data-toggle="tooltip" title="My LinkedIn" href=""><i class="fab fa-linkedin-in"></i></a>#}
{##}
{#                </div>#}

            </div>
        </div>

    </div>

    <div class="mb-3 container-fluid">
        {% include "blogposts/blogpost_short_list.html" %}
    </div>


{% endblock content %}
