

{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock %}
{% block content %}
    <div class="jumbotron-fluid">
    <div class="container-fluid">
        <br/>
        <br/>
        <div class="row">
            <div class="col">
                <div class="container-fluid">
                    <div class="row">
                        <div class="myDisplay col">
                            <span class="myDisplay-first-line row display-2">DERRICK</span>
                            <span class="myDisplay-second-line row display-1 bg-dark text-white">NAGY</span>
                            <span class="myDisplay-third-line row display-4">IS READY TO CREATE IN</span>
                            <span id="current-code" class="myDisplay-second-line row display-4 bg-dark text-white" >C#</span>
                        </div>
                    </div>
                    <div class="row">
                        <br/>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a id="c-sharp-button" class="btn btn-light btn-lg" data-toggle="tooltip"
                               title="C#">C#</a>
                        </div>
                        <div class="col">
                            <a id="java-button" class="btn btn-light btn-lg" data-toggle="tooltip"
                               title="Java"><i class="fab fa-java"></i></a>
                        </div>
                        <div class="col">
                            <a id="python-button" class="btn btn-light btn-light btn-lg"
                               data-toggle="tooltip" title="Python"><i class="fab fa-python"></i></a>
                        </div>
                        <div class="col">
                            <a id="javascript-button" class="btn btn-light btn-lg" data-toggle="tooltip"
                               title="JavaScript"><i class="fab fa-js-square"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </div>

                </div>
            </div>
            <div class="col-1"></div>
            <div class="col m-3">
                <div class="container-fluid">
                    <br/>
                    <br/>

                    <div class="row">
                        <div class="row">
                            <img id="c-sharp-image" class="img-fluid float-right"
                                 src="{% static 'images\C#-Drawing.svg' %}"
                                 alt="Code sample showing a class in C#.">
                            <img id="java-image" class="img-fluid float-right"
                                 src="{% static 'images\Java-Drawing.svg' %}"
                                 alt="Code sample showing a class in Java.">
                            <img id="python-image" class="img-fluid float-right"
                                 src="{% static 'images\Python-Drawing.svg' %}"
                                 alt="Code sample showing a class in Python.">
                            <img id="javascript-image" class="img-fluid float-right"
                                 src="{% static 'images\JavaScript-Drawing.svg' %}"
                                 alt="Code sample showing a class in JavaScript.">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="container-fluid text-center m-3 p-3 my-3 bg-dark text-white">
            <div class="row">
                <p class="lead">Hi, I am Derrick Nagy. I go to Kirkwood Community College where I will earn a degree
                    in Computer Software Development in May, 2022. This is where I am documenting my growth as a
                    developer.</p>
            </div>
        </div>

    </div>
    <br/>
    <br/>

    <div class="mb-3 container-fluid">
        {% include "blogposts/blogpost_short_list.html" %}
    </div>

{% endblock content %}
</div>