
{#{% extends 'base.html' %}#}
{% load markdown_extras %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="card-deck">

            {% for blogpost in object_list|slice:4 %}

                <div class="card  col">
                    <div class="card-header mt-2">
                        <div class="row m-0">
                        <p class="font-weight-bold ">
                            <a href="{% url 'blogpost_detail' blogpost.pk %}">{{ blogpost.title }}</a>
                        </p>
                        </div>
                        <div class="row m-0">
                        <p class="text-muted">
                            {{ blogpost.created_on|date:'N jS, Y'}}
            </p>
                            </div>
                    </div>
                    <div class="card-body">
                        <p>{{ blogpost.body | markdown | safe | truncatechars:150}}</p>
                    </div>
                    <div class="card-footer text-center mb-2">
                        <p>
                            {% for tag in blogpost.tags.all %}
                                <span class="badge badge-dark">{{ tag }}</span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endfor %}


        </div>

    </div>

{% endblock %}
