{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
        <div class="article-entry">
            <h2>{{ object.title }}</h2>
            <p>By {{ object.author }} | Created: {{ object.created_on|date:'Y-m-d'}} 
                {% if object.updated_on != object.created_on %}
                     | Updated: {{ object.updated_on|date:'Y-m-d'}}
                {% endif %}
            </p>
            <p>
                Tags : 
                {% for tag in object.tags.all %}
                    {{ tag }}
                {% endfor %}
                

            <p>{{ object.body }}</p>
        </div>
        <a href="{% url 'blogpost_edit' blogpost.pk %}">Edit</a> | <a href="{% url 'blogpost_delete' blogpost.pk %}">Delete</a>
       

        <div class="article-entry">
            <br />
            <a href="{% url 'comment_new' %}">+Add Comment</a>



            {% for comment in blogpost.comments.all %}
                <p>
                    <span class="font-weight-bold">
                        {{ comment.author}}
                    </span>
                    {{ comment }}
                </p>
            {% empty %}
                <p>No comments</p>
            {% endfor %}




        </div>



{% endblock content %}